<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ App.name }} &mdash; {{ App.title }}</title>

    <link rel="stylesheet" href="/build/app.min.css">
</head>
<body>
    <header>
        <div class="collapse bg-light" id="navbarHeader">
          <div class="container">
            <div class="row">
              <div class="col-sm-4 col-lg-5 py-4">
                <h4 class="text-dark">{{ App.name }}</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Our value</a></li>
                    <li><a href="#">Testimonials</a></li>
                </ul>
              </div>
              <div class="col-sm-4 col-lg-5 py-4">
                <h4 class="text-dark">Our services</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">Mobile App Development</a></li>
                    <li><a href="#">Digital Marketing</a></li>
                </ul>
              </div>
              <div class="col-sm-4 col-lg-2 py-4">
                <h4 class="text-dark">Contact</h4>
                <ul class="list-unstyled">
                  <li><i class="fa fa-map-marker-alt"></i> Cité concorde</li>
                  <li><a href="https://linkedin.com/in/randomdev" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                  <li><a href="#" class="text-dark"><i class="fa fa-comment-alt"></i> Get In Touch</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar navbar-light bg-light box-shadow">
          <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center bold">
                {{ App.name }}
            </a>
            <a class="navbar-toggler pointer" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </a>
          </div>
        </div>
    </header>
    <main role="main">

        <section class="jumbotron">
          <div class="container">
              <div class="d-flex justify-content-between">
                  <div class="intro">
                      <h1 class="jumbotron-heading">Better services.<br>Better world.</h1>
                      <p class="lead text-muted">We offer height quality services for better world.</p>
                  </div>
                  <div class="hero">
                      
                  </div>
              </div>
          </div>
        </section>

        <div id="our-services" class="mb-5">
          <div class="container">
            <h3 class="text-center mb-3">Our Services</h3>
            <div class="card-deck">
              <div class="card">
                <img class="card-img-top" src="holder.js/100x180/" alt="">
                <div class="card-body text-center">
                  <i class="fa fa-desktop mb-3 fa-3x"></i>
                  <h4 class="card-title">Web development</h4>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="holder.js/100x180/" alt="">
                <div class="card-body text-center">
                  <i class="fa fa-mobile-alt mb-3 fa-3x"></i>
                  <h4 class="card-title">Mobile development</h4>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="holder.js/100x180/" alt="">
                <div class="card-body text-center">
                  <i class="fa fa-bullhorn mb-3 fa-3x"></i>
                  <h4 class="card-title">Digital Marketing</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-divider mt-5"></div>
        </div>

        <div id="our-value" class="mb-5">
          <div class="container">
            <h3 class="text-center mb-3">Our Values</h3>
            <p class="text-dark">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, ratione sapiente iste facilis voluptatibus deserunt rerum voluptates! Consequatur, nihil perspiciatis accusantium excepturi odit voluptatum beatae repellendus inventore suscipit, officia sapiente.</p>
          </div>
          <div class="dropdown-divider mt-5"></div>
        </div>

        <div id="testimonials" class="mb-5">
          <div class="container">
            <h3 class="text-center mb-3">Testiomnials</h3>
            <div class="card-deck">
              <div class="card border-0 bg-light">
                <div class="card-body">
                  <p class="card-text">
                      <small class="small text-dark">
                      <i class="fa fa-quote-left text-muted"></i>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      <i class="fa fa-quote-right text-muted"></i>
                    </small>
                  </p>
                </div>
                <div class="card-footer bg-light border-0">
                  <div class="d-flex justify-content-around">
                    <div class="avatar ">
                      <i class="fa fa-user-alt bg-white p-3 rounded-circle"></i>
                    </div>
                    <div class="author">
                      <strong>Asse Malik</strong>
                      <p>Founder at DAADO</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card shadow-sm border-0">
                <div class="card-body">
                  <p class="card-text">
                      <small class="small text-dark">
                      <i class="fa fa-quote-left text-muted"></i>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      <i class="fa fa-quote-right text-muted"></i>
                    </small>
                  </p>
                </div>
                <div class="card-footer bg-white border-0">
                  <div class="d-flex justify-content-around">
                    <div class="avatar ">
                      <i class="fa fa-user-alt bg-light p-3 rounded-circle"></i>
                    </div>
                    <div class="author">
                      <strong>Athie Mouhamed</strong>
                      <p>CEO at RimAcademy</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card border-0 bg-light">
                <div class="card-body">
                  <p class="card-text">
                      <small class="small text-dark">
                      <i class="fa fa-quote-left text-muted"></i>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      <i class="fa fa-quote-right text-muted"></i>
                    </small>
                  </p>
                </div>
                <div class="card-footer bg-light border-0">
                  <div class="d-flex justify-content-around">
                    <div class="avatar ">
                      <i class="fa fa-user-alt bg-white p-3 rounded-circle"></i>
                    </div>
                    <div class="author">
                      <strong>Sidi Bouh</strong>
                      <p>Director at Beta Conseils</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown-divider mt-5"></div>
        </div>
  
    </main>
    <footer class="text-muted">
        <div class="container">
            <div class="d-flex justify-content-between">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://github.com/rand0mdev"><i class="fab fa-twitter text-info"></i></a></li>
                    <li class="list-inline-item"><a href="https://linkedin.com/in/randomdev"><i class="fab fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/rand0mdev"><i class="fab fa-github text-dark"></i></a></li>
                </ul>
                <p class="small">Made with <i class="fa fa-heart text-danger"></i> by <a href="https://github.com/rand0mdev">rand0mdev</a></p>
                <p class="small">© 2020 {{ App.name }}</p>
            </div>
        </div>
    </footer>

    {% if App.environment == 'production' %}
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    {% else %}
        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    {% endif %}
    <script src="/build/app.min.js"></script>
</body>
</html>
